@font-face {
    font-family: 'Acme';
    src: url(../assets/fonts/Acme-Regular.ttf);
}

@font-face {
    font-family: 'QuicksandBold';
    src: url(../assets/fonts/Quicksand-Bold.ttf);
}

@font-face {
    font-family: 'QuicksandRegular';
    src: url(../assets/fonts/Quicksand-Regular.ttf);
}

:root {
    --font-Acme: 'Acme';
    --font-Quicksand-Regular: 'QuicksandRegular';
    --font-Quicksand-Bold: 'QuicksandBold';
}
